.contenedorItemDetail {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.contenedorItemDetail img {
    width: 90%;
    
}

.textoItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}